@import url('../../external/ibestat/theme/ibestat/css/estilos20111130.css');
@import url('../../external/ibestat/theme/ibestat/css/arte.css');
@import url('../../external/ibestat/theme/ibestat/css/jquery.treeview.css');
@import url('../../external/ibestat/theme/ibestat/css/estilos-print.css') print;

body .dataset-header-info .dataset-header-title {
    font-size: 1.1em;
    line-height: inherit;
    color: inherit;
}

.metamac-container .ui-widget-content {
    color: inherit;
    font-size: inherit;
    background: none;
    border: none;
}