#cabecera h1 a 				{background:url(https://www.gobiernodecanarias.org/gcc/img/logos/logo.gif) no-repeat;float:left;height:79px;width:150px ;text-decoration:none;}

/* Se definen los elementos de estilo particulares para las consejerías*/

#cabecera h3.sub_marca		{margin:0px; padding:0px; text-indent:-5000px;}
#cabecera h3.sub_marca a	{background:url(https://www.gobiernodecanarias.org/gcc/img/logos/logo_pla_pro_serv.gif) no-repeat scroll 100%;float:right;height:53px; width:132px;text-decoration:none; margin-top:13px; margin-right:13px;}

#cabecera h3.sub_marca2		{margin:0px; padding:0px; text-indent:-5000px;}
#cabecera h3.sub_marca2 a	{background:url(https://www.gobiernodecanarias.org/gcc/img/logos/logo_pla_pro_serv.gif) no-repeat scroll 100%;float:right;height:53px; width:132px;text-decoration:none; margin-top:13px; margin-right:13px;}

#cabecera h3.sub_marca3		{margin:0px; padding:0px; text-indent:-5000px;}
#cabecera h3.sub_marca3 a	{background:url(https://www.gobiernodecanarias.org/gcc/img/logos/logo_pla_pro_serv.gif) no-repeat scroll 100%;float:right;height:53px; width:132px;text-decoration:none; margin-top:13px; margin-right:13px;}

ul.menu_lat_der {
	padding-right: 0px;
}

ul.nav li ul {margin:0; padding:4px 0 0 5px;}

ul.nav li ul li {background: url(https://www.gobiernodecanarias.org/cmsgobcan/export/system/modules/es.gobcan.portal.tipo/resources/imagenes/disc.gif) no-repeat left 9px;}

.subseccion2 .subrayado {
	height: auto;
}

#migas ul {
	float: none;
}

.contenido .sub_tit {
	margin: 10px 0px 3px 15px;
	padding: 0px 0px 0px 10px;
}

.contenido div.noticia p.midi img {
	float: none;
	margin: 0;
}

.contenido div.noticia p.midi {
	font:0.9em Arial, Helvetica, sans-serif;
	margin: 5px 3px 0px 10px;
}

#banner	{
	float:left;
	width:760px;
}

.captcha {
	text-align: center;
	padding: 5px !important;
}

.captcha img {
	max-height: 65px;
}

.captcha input[type="text"] {
	width: auto !important;
}

.captcha img {
	width: 40%;
}
		
#formulario ul li {
	color: red;
	list-style-type: disc;
	background: none;
}

.formElement {
	clear: both;
	width: 100%;
}

.uploadNote {
	color: grey;
	text-align: center;
}

form.formestilo span {
	padding-right: 0.5em;
}

form.formestilo select {
	width: 80% !important;
	border: 1px solid #CCCCCC;
	color: #333333;
}

form.formestilo input[type="text"] {
	width: 80%;
}

form.formestilo input[type="file"] {
	width: 80% important;
	background: none repeat scroll 0 0 #FAFAFA;
	border: 1px solid #CCCCCC;
	color: #333333;
	font-family: Verdana,Arial,Helvetica,sans-serif;
	font-size: 1em;
	padding: 2px;
}

form.formestilo textarea {
	width: 80%;
	background: none repeat scroll 0 0 #FAFAFA;
	border: 1px solid #CCCCCC;
	color: #333333;
	font-family: Verdana,Arial,Helvetica,sans-serif;
	font-size: 1em;
	padding: 2px;
}

form.formestilo #listado {
	width: 80%;
}

.primeraColumna {
	width: 30%;
	float: left;
	text-align: right;
}

.segundaColumna {
	width: 70%;
	float: left;
}

.formEnviar {
	clear: both;
	text-align: center;
}

.formNotas {
	color: red;
	clear: both;
	text-align: center;
}

.subrayado {
	padding: 0 0 1px 0 !important;
}

input#adjunto.campo_texto {
	width: 5em;
}

div.succes {
	padding: 5px 5px 5px 30px !important;
}

div.formEnviar {
	text-align: center;
}

form.formestilo fieldset div.ayuda_formulario{
  	text-align:right;
	margin: 5px 20px 10px 0;
  	font-weight: bold;
	clear: left;
	background: none transparent scroll repeat 0% 0%;
	text-align: right;
  	height:1em;
}

form.formestilo fieldset div.ayuda_formulario a {
  text-decoration:none;
  color:#000000;
  padding-left: 20px;	
  padding-top:2px;
  text-decoration: none;
}

span.h2-icon {
	float: right;
	vertical-align: middle;	
	margin-right: 12px;
}

#aviso-cookies {height:auto; width:100%; top:0px; background-color:#AAA; color:white; padding:1px}
#aviso-cookies a {color:white}
#aviso-cookies button {margin-bottom:5px}

div.content_container {min-height: 12px;}
ul.pagination li {background: none}
ul.pagination li span.pagdots {border-bottom-right-radius: 0px;border-top-right-radius: 0px;}

#cabecera #menu_contextual ul.menu {
	padding: 0;
}

#cabecera #menu_contextual ul.menu li {
	margin-right: 0px;
}

#cabecera #menu_contextual ul.menu li a {
	padding: 5px 15px 3px;
}

#headercontainer h1, #headercontainer h2 {
	vertical-align: middle;
	margin: 0 0 0 10px;
	min-width: 150px;
	height: 80px;
	float: left;
}

#headercontainer h1 img, #headercontainer h2 img {
	height: 79px;
}

h2.der {
	float: none !important;
	text-align: right !important;
}

h2.cen {
	float: none !important;
	text-align: center !important;
}

.enlaceImagen {
	text-decoration: none !important;
	width: 100% !important;
}

#bannercontainer img.banner {
	width: 100% !important;
	height: 95px !important;
}

.banner_grande_simple_buttons {float: left; width: 762px;}
.banner_grande_simple_buttons #previous {cursor:pointer; margin:2px; width:20px; height:20px; position: relative; z-index: 10; margin-top: 40px; margin-left: -8px;}
.banner_grande_simple_buttons #next {cursor:pointer; float:right; margin:2px; width:20px; height:20px; position: relative; z-index: 10; margin-top: 40px; margin-right: -8px;}

#banner_grande_simple{
	position: absolute;
	top: 0px; 
	left: 0px;
	height: 95px;
	width: 762px;
	z-index: 0;
	overflow: hidden;
}
#banner_grande_simple_texto{
	position: absolute;
	top: 5px; 
	left: 386px;
	height: 95px;
	width: 295px;
	z-index: 1;
	overflow: hidden;
}

#banner_grande_doble{
	position: absolute;
	top: 0px; 
	left: 0px;
	height: 95px; 
	width: 79%;
	z-index: 0;
	overflow: hidden;
}
#banner_grande_doble_texto{
	position: absolute;
	top: 5px; 
	left: 39%;
	z-index: 1;
	overflow: hidden;
}

.banner_grande_doble_buttons {float: left; width: 79%;}
.banner_grande_doble_buttons #previous {cursor:pointer; margin:2px; width:20px; height:20px; position: relative; z-index: 10; margin-top: 40px; margin-left: -8px;}
.banner_grande_doble_buttons #next {cursor:pointer; float:right; margin:2px; width:20px; height:20px; position: relative; z-index: 10; margin-top: 40px; margin-right: -8px;}

#banner_grande_doble_boton{
	position: absolute;
	top: 70px;
	left: 580px;
	z-index:1000;
	overflow: hidden;
}
#banner_pequeno_doble{
	position: absolute;
	top: 0px; 
	left: 80%;
	height: 95px; 
	float: right;
	width: 20%;
	z-index: 0;
	overflow: hidden;
}
#banner_pequeno_doble_texto{
	position: absolute;
	top: 5px; 
	left: 81%;
	z-index: 1;
	overflow: hidden;
}
.tabla_grande_titulo{
	font-size:15px;
	width:295px;
	font-weight: bold;
	overflow: hidden;
}
.tabla_grande_texto{
	margin-top:3px;
	font-size:20px;
	clear:both; 
	width:295px;
	overflow: hidden;
}
.tabla_pequena_titulo{
	font-size:12px;
	width: 150px;
	font-weight: bold;
	overflow: hidden;
}
.tabla_pequena_texto{
	margin-top:6px;
	font-size:15px;
	clear: both;  
	width: 150px;
}
.tit_bloq{
	float:left;
}

.bloque_basico_container {
	padding-bottom: 10px;
}
.bloque_basico_container .foto {
	background: transparent url(https://www.gobiernodecanarias.org/cmsgobcan/export/system/modules/es.gobcan.portal.tipo/resources/imagenes/bloque_basico/foto.gif) no-repeat scroll left 2px !important;
}
.bloque_basico_container .audio {
	background: transparent url(https://www.gobiernodecanarias.org/cmsgobcan/export/system/modules/es.gobcan.portal.tipo/resources/imagenes/bloque_basico/audio.gif) no-repeat scroll left 2px !important;
}
.bloque_basico_container .video {
	background: transparent url(https://www.gobiernodecanarias.org/cmsgobcan/export/system/modules/es.gobcan.portal.tipo/resources/imagenes/bloque_basico/video.gif) no-repeat scroll left 2px !important;
}
.bloque_basico_container .documento {
	background: transparent url(https://www.gobiernodecanarias.org/cmsgobcan/export/system/modules/es.gobcan.portal.tipo/resources/imagenes/bloque_basico/documento.gif) no-repeat scroll left 2px !important;
}
.bloque_basico_container .enlace {
	background: transparent url(https://www.gobiernodecanarias.org/cmsgobcan/export/system/modules/es.gobcan.portal.tipo/resources/imagenes/bloque_basico/enlace.gif) no-repeat scroll left 2px !important;
}
.bloque_basico_container .imgApartado {
	display: inline-block;
	padding-top: 10px;
}
.bloque_basico_container .imgApartado, .bloque_basico_container .imgApartado img {
   max-width: 100%;
}
.bloque_basico_container .imgApartado p {
	text-align: center;
	color: grey;
	margin: 1px 0 0 0;
	font-size: 90%;
	line-height: 1;
}

.uweb_tipo_caja_lateral_container_imagenes {
	width: 100%;
	margin-bottom: 17px;
	text-align: center;
}
.uweb_tipo_caja_lateral_container_imagenes img {
	max-width: 100%;
	padding-right: 5px;
	padding-left: 5px;
}
ul.menu_lat_der li a, ul.menu_lat_der li.con_img a {
	display: flex;
}
ul.menu_lat_der li.dif a {
	display: inline;
}
ul.menu_lat_der li.con_img {
	height: auto;
	min-height: 70px;
}