<?xml version="1.0" encoding="UTF-8"?>
<web-app id="complementos-apps" version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

    <servlet>
        <servlet-name>apis-styles</servlet-name>
        <jsp-file>/apis/styles.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>apis-styles</servlet-name>
        <url-pattern>/apis/styles.css</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>apis-header</servlet-name>
        <jsp-file>/apis/header.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>apis-header</servlet-name>
        <url-pattern>/apis/header.html</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>apis-footer</servlet-name>
        <jsp-file>/apps/footer/footer-complete.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>apis-footer</servlet-name>
        <url-pattern>/apis/footer.html</url-pattern>
    </servlet-mapping>
    
    

    <servlet>
        <servlet-name>apps-footer</servlet-name>
        <jsp-file>/apps/footer/footer.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>apps-footer</servlet-name>
        <url-pattern>/apps/footer/footer.html</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>apps-footer-complete</servlet-name>
        <jsp-file>/apps/footer/footer-complete.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>apps-footer-complete</servlet-name>
        <url-pattern>/apps/footer/footer-complete.html</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>apps-navbar</servlet-name>
        <jsp-file>/apps/navbar/navbar.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>apps-navbar</servlet-name>
        <url-pattern>/apps/navbar/navbar.html</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>portal-default-header</servlet-name>
        <jsp-file>/portal/default/header.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>portal-default-header</servlet-name>
        <url-pattern>/portal/default/header.html</url-pattern>
    </servlet-mapping>
    
    
    <servlet>
        <servlet-name>apis-index</servlet-name>
        <jsp-file>/apis.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>apis-index</servlet-name>
        <url-pattern>/apis.html</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>apis-index</servlet-name>
        <url-pattern>/apis</url-pattern>
    </servlet-mapping>
    

    <filter>
        <filter-name>UrlRewriteFilter</filter-name>
        <filter-class>org.tuckey.web.filters.urlrewrite.UrlRewriteFilter</filter-class>
        <init-param>
            <param-name>confPath</param-name>
            <param-value>/WEB-INF/urlrewrite.xml</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>UrlRewriteFilter</filter-name>
        <url-pattern>/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    
    <filter>
        <filter-name>CorsFilter</filter-name>
        <filter-class>org.apache.catalina.filters.CorsFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>CorsFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
</web-app>
