<?xml version="1.0" encoding="UTF-8"?>
<web-app id="complementos-apps" version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

    <!-- /api -->
    <servlet>
        <servlet-name>apis-index</servlet-name>
        <jsp-file>/apis/apis.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>apis-index</servlet-name>
        <url-pattern>/api.html</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>apis-index</servlet-name>
        <url-pattern>/api</url-pattern>
    </servlet-mapping>   
        
    <!-- /organisations/istac/apis -->
    <servlet>
        <servlet-name>istac-apis-styles</servlet-name>
        <jsp-file>/organisations/istac/apis/header/styles.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>istac-apis-styles</servlet-name>
        <url-pattern>/organisations/istac/apis/header/styles.css</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>istac-apis-header</servlet-name>
        <jsp-file>/organisations/istac/apis/header/header.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>istac-apis-header</servlet-name>
        <url-pattern>/organisations/istac/apis/header/header.html</url-pattern>
    </servlet-mapping>    
    
    <!-- /organisations/istac/common -->   
    <servlet>
        <servlet-name>istac-common-footer</servlet-name>
        <jsp-file>/organisations/istac/common/footer/footer.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>istac-common-footer</servlet-name>
        <url-pattern>/organisations/istac/common/footer/footer.html</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>istac-common-footer-complete</servlet-name>
        <jsp-file>/organisations/istac/common/footer/footer-complete.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>istac-common-footer-complete</servlet-name>
        <url-pattern>/organisations/istac/common/footer/footer-complete.html</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>istac-common-header</servlet-name>
        <jsp-file>/organisations/istac/common/header/header.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>istac-common-header</servlet-name>
        <url-pattern>/organisations/istac/common/header/header.html</url-pattern>
    </servlet-mapping>

    <!-- /organisations/istac/portal -->
    <servlet>
        <servlet-name>istac-portal-default-header</servlet-name>
        <jsp-file>/organisations/istac/portal/default/header.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>istac-portal-default-header</servlet-name>
        <url-pattern>/organisations/istac/portal/default/header.html</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>istac-portal-environment-header</servlet-name>
        <jsp-file>/organisations/istac/portal/environment/header.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>istac-portal-environment-header</servlet-name>
        <url-pattern>/organisations/istac/portal/environment/header.html</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>istac-portal-tourism-header</servlet-name>
        <jsp-file>/organisations/istac/portal/tourism/header.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>istac-portal-tourism-header</servlet-name>
        <url-pattern>/organisations/istac/portal/tourism/header.html</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>istac-portal-agriculture-header</servlet-name>
        <jsp-file>/organisations/istac/portal/agriculture/header.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>istac-portal-agriculture-header</servlet-name>
        <url-pattern>/organisations/istac/portal/agriculture/header.html</url-pattern>
    </servlet-mapping>
    
    <!-- /organisations/ibestat/apis -->
    <servlet>
        <servlet-name>ibestat-apis-styles</servlet-name>
        <jsp-file>/organisations/ibestat/apis/header/styles.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>ibestat-apis-styles</servlet-name>
        <url-pattern>/organisations/ibestat/apis/header/styles.css</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>ibestat-apis-header</servlet-name>
        <jsp-file>/organisations/ibestat/apis/header/header.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>ibestat-apis-header</servlet-name>
        <url-pattern>/organisations/ibestat/apis/header/header.html</url-pattern>
    </servlet-mapping>    
    
    <!-- /organisations/ibestat/common -->   
    <servlet>
        <servlet-name>ibestat-common-footer</servlet-name>
        <jsp-file>/organisations/ibestat/common/footer/footer.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>ibestat-common-footer</servlet-name>
        <url-pattern>/organisations/ibestat/common/footer/footer.html</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ibestat-common-footer-complete</servlet-name>
        <jsp-file>/organisations/ibestat/common/footer/footer-complete.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>ibestat-common-footer-complete</servlet-name>
        <url-pattern>/organisations/ibestat/common/footer/footer-complete.html</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ibestat-common-header</servlet-name>
        <jsp-file>/organisations/ibestat/common/header/header.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>ibestat-common-header</servlet-name>
        <url-pattern>/organisations/ibestat/common/header/header.html</url-pattern>
    </servlet-mapping>
    
    <!-- /organisations/ibestat/portal -->
    <servlet>
        <servlet-name>ibestat-portal-default-header</servlet-name>
        <jsp-file>/organisations/ibestat/portal/default/header.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>ibestat-portal-default-header</servlet-name>
        <url-pattern>/organisations/ibestat/portal/default/header.html</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>ibestat-portal-default-footer</servlet-name>
        <jsp-file>/organisations/ibestat/portal/default/footer.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>ibestat-portal-default-footer</servlet-name>
        <url-pattern>/organisations/ibestat/portal/default/footer.html</url-pattern>
    </servlet-mapping>
    
    
    <!-- / -->
    <welcome-file-list>  
        <welcome-file>/apps/apps.jsp</welcome-file>
    </welcome-file-list>  
    

    <filter>
        <filter-name>UrlRewriteFilter</filter-name>
        <filter-class>org.tuckey.web.filters.urlrewrite.UrlRewriteFilter</filter-class>
        <init-param>
            <param-name>confPath</param-name>
            <param-value>/WEB-INF/urlrewrite.xml</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>UrlRewriteFilter</filter-name>
        <url-pattern>/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    
    <filter>
        <filter-name>CorsFilter</filter-name>
        <filter-class>org.apache.catalina.filters.CorsFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>CorsFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
</web-app>
