<?xml version="1.0" encoding="UTF-8"?>
<web-app id="complementos-apps" version="2.5"
    xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

  	<servlet>
		<servlet-name>apis-styles</servlet-name>
		<jsp-file>/apis/styles.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>apis-styles</servlet-name>
		<url-pattern>/apis/styles.css</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>apps-footer</servlet-name>
		<jsp-file>/apps/footer/footer.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>apps-footer</servlet-name>
		<url-pattern>/apps/footer/footer.html</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>apps-navbar</servlet-name>
		<jsp-file>/apps/navbar/navbar.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>apps-navbar</servlet-name>
		<url-pattern>/apps/navbar/navbar.html</url-pattern>
	</servlet-mapping>
</web-app>
