@import url('../../external/gobcan/gcc/css/especifico.css');
@import url('../../external/gobcan/gcc/css/voz.css') aural;
@import url('../../external/gobcan/gcc/css/basico.css');
@import url('../../external/gobcan/gcc/css/cuerpo.css');
@import url('../../external/gobcan/cmsweb/export/system/modules/es.gobcan.portal.tipo/resources/css/imprime.css') print;
@import url('../../external/gobcan/cmsweb/export/system/modules/es.gobcan.portal.tipo/resources/css/tipo_cabecera.css');
@import url('../../external/gobcan/cmsweb/export/system/modules/es.gobcan.portal.tipo/resources/css/tipo_redes_sociales.css');
@import url('../../external/gobcan/cmsweb/export/system/modules/es.gobcan.portal.tipo/resources/css/tipo_widget.css');
@import url('../../external/gobcan/cmsweb/export/system/modules/es.gobcan.portal.tipo/resources/css/tipo_caja_lateral.css');
@import url('../../external/gobcan/cmsweb/export/system/modules/es.gobcan.portal.tipo/resources/css/tipo_banner.css');
@import url('../../external/gobcan/cmsweb/export/system/modules/es.gobcan.portal.tipo/resources/css/responsive/bootstrap.min.css');
@import url('../../external/gobcan/cmsweb/export/system/modules/es.gobcan.portal.tipo/resources/css/responsive/custom_responsive.css');
@import url('../../external/gobcan/cmsweb/export/system/modules/es.gobcan.portal.tipo/resources/css/responsive/custom_bootstrap.css');

/* Minimal corrections on gobcan styles */
@media (max-width: 991px) and (min-width: 768px) {
	#contenido {
		width: auto;
	}
}

/* Visualizer colors specific */
.sidebar-menu,
.filter-sidebar-dimension-title,
.dataset-visualization-container .dataset-visualization-options-bar .btn.dataset-options-filter.active {
    background-color: #467A0E !important;
}

.filter-sidebar-category .filter-sidebar-category-left-actions .level0 {
  color: #467a0e !important;
}
.filter-sidebar-category .filter-sidebar-category-left-actions .level1 {
  color: #539111 !important;
}
.filter-sidebar-category .filter-sidebar-category-left-actions .level2 {
  color: #60a813 !important;
}
.filter-sidebar-category .filter-sidebar-category-left-actions .level3 {
  color: #6dbf16 !important;
}
.filter-sidebar-category .filter-sidebar-category-left-actions .level4 {
  color: #7bd618 !important;
}
.filter-sidebar-category .filter-sidebar-category-left-actions .level5 {
  color: #87e622 !important;
}


